{% extends "index.html" %} {% load static %} {% block content %} {% load humanize %}


<!-- for preview only  -->

  <body>

<!-- for preview only, remove ^^  -->



<div class="container text-right pt-5">
  <div class="display-4 fw-bold"> Vaccination Data:</div>

  <br>
  <br>

  <div class="row">
    <div class="col-6">
        <div class="h3 fw-bolder">
    District with Maximum: {{district_with_max}}
    <div class="display-3"> {{district_with_max.vaccinated|intcomma}} </div>
  </div>
     
  
  
    <br>
    </div>
    <div class="col-6">
      
  <div class="h3 fw-bolder">
    District with Minimum:
    {{district_with_min}} 
    <div class="display-3">{{district_with_min.vaccinated|intcomma}} </div>
  </div>
    </div>
  </div>
  

  <div class="container-fluid d-flex justify-content-center p-4">
    <form action="" method="GET">
      <button class="btn btn-block btn-primary" name="all" id="all-data-btn">
        Show all data
      </button>
    </form>
  </div>
    <div class="row" id="all-data">
    {% for i in districts %}
    <!-- thissiajdis -->

      <div class="col-lg-3 p-4">
            <div class="h3 fw-bolder">{{i.name}}: </div>
      <div class="display-5"> {{i.vaccinated|intcomma}}</div>


      </div>
      {% endfor %}
    </div>
  </div>
<hr class="pb-4">
{% endblock content %}



<!-- For preview only-->
</body>

</html>